.navbar_header {
    background-color: #F7F8F9;
    height: 80px;
}

.nav-btn {
    display: none;
}

.sec-nav {
    position: relative;
    top: 70px;
}

.location {
    background-color: white;
    min-width: 150px;
    border: 2px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.location .search_icon {
    font-size: 25px;
    font-weight: 500;
    margin-top: 10px;
}

.location .chevron_icon {
    margin-left: 15px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 25px;
}

.location .input_icon {
    margin-left: 10px;
    margin-top: 3px;
    border-style: none;
}

.location .input_icon:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.location .input_icon:focus {
    border-style: none;
}

/*.location>input {
    border: 2px solid;
    height: 50px;
    min-width: 150px;
}

.location .text {
    font-size: 20px;
    margin: 0 10px;
}
}*/


/*.loginLink:hover {
    list-style-type: none;
}*/

.fa-user {
    cursor: pointer;
}
.animate_chevron_add {
    transform: rotate(900deg);
    transition: all 2s;
}

.animate_chevron_remove {
    transform: rotate(0deg);
    transition: all 2s;
}

/*@media only screen and (max-width: 1125px) {
    .location .chevron_icon {
        position: relative;
        font-size: 25px;
        left: 70px;
    }
}
*/
@media only screen and (max-width: 992px) {
    .location .chevron_icon {
        position: relative;
        font-size: 25px;
        left: 10px;
    }
    .location .input_icon {
        width: 60%;
    }
}

@media only screen and (max-width: 988px) {
    .location .input_icon {
        height: 10px !important;
    }
}

@media only screen and (max-width: 768px) {
    .location .chevron_icon {
        position: relative;
        font-size: 25px;
        left: 370px;
    }
}

.search input {
    border: 2px solid;
    height: 50px;
    min-width: 250px !important;
}

.search .search_icon {
    background-color: #0D2F34;
    height: 50px;
    color: white;
    font-size: 20px;
}

.login {
    display: flex;
    justify-content: space-around;
}

.login .login-link {
    color: #0D2F34;
    font-weight: 700;
    position: relative;
    right: 5px;
    /*
    top: 8px;
    left: 10px;
    */
    text-decoration: underline;
    font-size: 18px;
}

.login .login-link:hover {
    text-decoration: none;
    color: #0D2F34;
}

.login .btn {
    width: 120px;
    height: 50px;
    text-transform: uppercase;
    background-color: white;
    border-radius: 40px 40px;
    font-weight: 700;
    margin-left: 14px;
    position: relative;
    left: 20px;
    /*120deg, rgb(255, 0, 144), rgb(255, 0, 144) 55%, rgb(0, 222, 255), rgb(0, 222, 255) 45%*/
    border: 5px solid blue;
}

.username-profile {
    color: #0D2F34;
}

.username-profile:hover {
    text-decoration: none;
}

.navbar_custom {
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px #dddfe0;
}

.nav-link-text {
    color: black;
    font-size: 15px;
}

.nav-link {
    padding: 0 !important;
}

.nav-link-text:hover {
    color: #5CA8AB !important;
}

.navbar-dropdown-child {
    width: 1200px;
}

.dropdown {
    list-style: none;
}
.dropdown-user {
    color: black !important;
    list-style: none;
}

.user-flex {
    display: flex !important;
    flex-direction: row;
}
.btn_login_custom{
    border: 2px solid black !important;
    font-weight: bold !important;
    padding: 10px 0 !important;
}

.btn_login_custom:hover{
    outline: 2px solid black !important;
    border-radius: none !important;
}

.para_login {
    font-size: 13px;
}
#modal_login_email {
    height: 800px;
}
.email_h {
    margin-bottom: 30px;
}
.modal_input {
    margin-top: 10px;
}
.modal_input:focus {
    /*border: 1px solid #0D2F34;*/
    outline: 5px solid #0D2F34;
}
.btnNext {
    width: 100%;
    background-color: #0D2F34;
    color: white;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}
.btnNext:hover {
    background-color: white;
    color: #0D2F34;
}
.modal-header {
    margin: auto;
}
.modal-header-img {
    margin: auto;
    height: 100px;
    max-width: 18vh !important;
}
.btn-close {
    width: 10px;
    position: relative;
    left: 450px;
    top: 10px;
}
@media only screen and (max-width: 575px) {
    .btn-close {
        position: relative;
        left: 500px;
    }
}
.btn-arrow-left {
    width: 10px;
    position: relative;
    right: 220px;
    bottom: 55px;
    cursor: pointer;
}
.btn-arrow-left:hover {
    font-weight: 500;
}
.carousel-indicators {
    position: relative;
    top: 120px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    position: relative;
    bottom: 60px;
    /*height: 100px;
  width: 100px;*/
  /*outline: black;*/
  /*background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
  border: 1px solid black;*/
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 40px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 40px;
  color: black;
}
.profile{
    width:400px;
}